<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/new">New</a>
    <% messages.map((message)=>{ %>
    <div>
      <p><%= message.user %></p>
      <p><%= message.text %></p>
      <a href="/details/<%= message.id %>">Open</a>
    </div>
    <% }) %>
  </body>
</html>
