<html>
  <head>
    <title>Message Details</title>
  </head>
  <body>
    <div>
      <h2>Message Details</h2>
      <p><strong>User:</strong> <%= message.user %></p>
      <p><strong>Posted:</strong> <%= message.added.toLocaleString() %></p>
      <p><strong>Message:</strong> <%= message.text %></p>
      <a href="/">Return to all messages</a>
    </div>
  </body>
</html>
